.nav-container {
  display: flex;
  justify-content: space-between;
  position: absolute;

  z-index: 1;
  left: 0;
  right: 0;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  .logo-netflix {
    width: 120px;
  }
  .button-kanan {
    display: flex;
    gap: 20px;
    margin-right: 40px;

    .logo-ind {
      padding: 2px 15px; /*atas bawah, kanan kiri*/
      font-size: 0.9rem;

      font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
    }
    .logo-masuk {
      font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
      border-radius: 5px;
      border: none;
      font-weight: 600;
      line-height: normal;
      font-size: 0.9rem;

      padding: 0.1rem 1.2rem;
      background-color: red;
      color: white;
    }
  }
}
@media only screen and (max-width: 468px) {
  .nav-container {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    .logo-netflix {
      width: 70px;
    }
    .button-kanan {
      display: flex;
      gap: 20px;
      margin-right: 10px;

      .logo-ind {
        padding: 5px 15px; /*atas bawah, kanan kiri*/
        font-size: 0.9rem;
        width: 50px;

        padding: 0.1rem 1.5rem;

        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
      }
      .logo-masuk {
        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

        border-radius: 5px;
        border: none;
        font-weight: 600;
        line-height: normal;
        font-size: 0.9rem;

        background-color: red;
        color: white;
      }
    }
  }
}
