$tulisan-putih: white;

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background-color: rgb(44, 44, 44);

  // objek tambahan sebelum gambar nambah gradient
  .kartu-film1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  }
  .kartu-film1 img {
    width: 100%;
    height: 600px;
  }
  .kartu-film1 {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 600px;
    .text-wrapper {
      position: absolute;
      width: 100%;
      max-width: 774px;
      padding-top: 100px;

      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .text-h1 {
      color: $tulisan-putih;
      font-size: 3.125rem;
    }
    .text-h2 {
      color: $tulisan-putih;
      font-size: 1.625rem;
    }
    .text-h3 {
      color: $tulisan-putih;
    }
    .email-wrapper {
      display: flex;
      justify-content: center;
      height: 3rem;

      .text {
        padding: 10px 10px;
        width: 100%;
        color: grey;
        font-weight: 500;
      }
      .button {
        min-width: 84px;
        background-color: red;
        border: none;
        font-weight: 600;
        line-height: normal;
        font-size: 1.1rem;
        color: $tulisan-putih;
      }
    }
  }

  .kartu-film2 {
    background: black;
    color: white;
    display: flex;

    .text-film2 {
      text-align: left;
      margin: 80px 80px;
    }
    .gambar-text2 {
      position: relative;
      img {
        z-index: 100;
      }
      .video {
        video {
          width: 450px;
          height: 250px;
        }
        position: absolute;
        bottom: 137px;
        right: 96px;
      }
    }
  }
  .kartu-film3 {
    background: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;

    .text-film3 {
      text-align: left;
      margin: 80px 80px;
    }
  }
  .kartu-film4 {
    background: black;
    color: white;
    display: flex;

    .text-film4 {
      text-align: left;
      margin: 80px 80px;
    }
  }
  .kartu-film5 {
    background: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;

    .text-film5 {
      text-align: left;
      margin: 80px 80px;
    }
  }
  .kartu-film6 {
    background: black;
    color: white;
    padding: 20px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-items: center;

    .text-film6 {
      text-align: center;
    }

    .kotak-text6 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(30, 30, 30);

      .logo {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
      }
    }
    .kotak-text6:hover {
      background-color: rgb(54, 54, 54);
    }
    .deskripsi {
      width: 100%;
      background-color: rgb(30, 30, 30);
      p {
        text-align: left;
        padding: 20px;
      }
    }
    .text-h3 {
      color: $tulisan-putih;
    }
    .email-wrapper {
      display: flex;
      justify-content: center;
      height: 3rem;

      .text {
        padding: 10px 10px;
        width: 100%;
        color: grey;
        font-weight: 500;
      }
      .button {
        min-width: 84px;
        background-color: red;
        border: none;
        font-weight: 600;
        line-height: normal;
        font-size: 1.1rem;
        color: $tulisan-putih;
      }
    }
    .kotak-text6 h1 {
      margin: 30px 50px;
      align-items: center;
      text-align: center;
    }
  }

  .kartu-film7 {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    .text-1 li {
      text-align: left;
      margin-bottom: 5px;
      list-style-type: none;
      color: grey;
      a {
        color: grey;
      }
    }
    .text-2 li {
      text-align: left;
      margin-bottom: 5px;

      list-style-type: none;
      a {
        color: grey;
      }
    }
    .text-3 li {
      text-align: left;
      margin-bottom: 5px;

      list-style-type: none;
      a {
        color: grey;
      }
    }
  }
}
// =========================================================================================kueri=======================================================================================================
// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

// =========================================================================================kueri=======================================================================================================

@media only screen and (max-width: 998px) {
  .container {
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: rgb(44, 44, 44);

    // objek tambahan sebelum gambar nambah gradient
    .kartu-film1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;

      height: 650px;

      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    }
    .kartu-film1 img {
      width: 100vw;
      object-fit: cover;

      height: 650px;
    }
    .kartu-film1 {
      position: relative;
      object-fit: cover;
      width: 100vw;

      height: 650px;

      .text-wrapper {
        position: absolute;
        width: 100%;
        max-width: 274px;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
      }

      .text-h1 {
        color: $tulisan-putih;
        font-size: 2.1rem;
      }
      .text-h2 {
        color: $tulisan-putih;
        font-size: 1.3rem;
      }
      .text-h3 {
        color: $tulisan-putih;
      }
      .email-wrapper {
        padding-top: 20px;
        display: flex;
        height: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
          margin: 10px;
          padding: 10px 10px;
          width: 100%;
          color: grey;
          font-weight: 500;
        }
        .button {
          margin-top: 10px;
          width: 50px;
          padding: 10px;
          background-color: red;
          border: none;
          font-weight: 200;
          line-height: normal;
          font-size: 1.1rem;
          color: $tulisan-putih;
        }
      }
    }

    .kartu-film2 {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      .text-film2 {
        text-align: center;
        margin: 80px 80px;
        font-size: 15px;
      }
      .gambar-text2 img {
        width: 100%;
      }
    }
    .kartu-film3 {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;

      .text-film3 {
        text-align: center;
        margin: 80px 30px;
        font-size: 15px;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 15px;
        }
      }
      .gambar-text3 img {
        width: 100%;
      }
    }
    .kartu-film4 {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;

      .text-film4 {
        text-align: center;
        margin: 80px 30px;
        font-size: 15px;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 15px;
        }
      }
      .gambar-text4 img {
        width: 100%;
      }
    }
    .kartu-film5 {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;

      .text-film5 {
        text-align: center;
        margin: 80px 30px;
        font-size: 15px;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 15px;
        }
      }
      .gambar-text5 img {
        width: 100%;
      }
    }
    .kartu-film6 {
      background: black;
      color: white;
      padding: 60px 20px;
      gap: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      align-items: center;

      .text-film6 {
        text-align: center;
      }

      .kotak-text6 {
        cursor: pointer;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(30, 30, 30);

        .logo {
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 20px;
        }
      }
      .deskripsi {
        width: 100%;
        background-color: rgb(30, 30, 30);
        p {
          text-align: left;
          padding: 20px;
        }
      }
      .kotak-text6:hover {
        background-color: rgb(54, 54, 54);
      }
      .kotak-text6 h1 {
        margin: 30px 30px;
        align-items: center;
        text-align: center;
        font-size: 20px;
      }
      .text-h3 {
        color: $tulisan-putih;
      }
      .email-wrapper {
        padding-top: 20px;
        display: flex;
        height: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
          margin: 10px;
          padding: 10px 10px;
          width: 100%;
          color: grey;
          font-weight: 500;
        }
        .button {
          margin-top: 10px;
          width: 50px;
          padding: 10px;
          background-color: red;
          border: none;
          font-weight: 200;
          line-height: normal;
          font-size: 1.1rem;
          color: $tulisan-putih;
        }
      }
    }
    .kartu-film7 {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;

      .text-1 li {
        text-align: left;
        margin-bottom: 5px;
        list-style-type: none;
        color: grey;
        a {
          color: grey;
        }
      }
      .text-2 li {
        text-align: left;
        margin-bottom: 5px;

        list-style-type: none;
        a {
          color: grey;
        }
      }
      .text-3 li {
        text-align: left;
        margin-bottom: 5px;

        list-style-type: none;
        a {
          color: grey;
        }
      }
    }
  }
}
